* {
    box-sizing: border-box;
}

:root {
    font-size: 1.5rem;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.headr {
    background-color: darkslategray;
    color:white;
}

.game-area-container {
    width: 100%;
}
