* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* color */
    --cool-cream: #eeeeee;
    --cool-pink: #acc6aa;
    --cool-teal: #71a0a5;
    --cool-blue: #77628c;
}

html {
  height: 100%;
}

body {
  height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--cool-cream);
}

.headr {
    background-color: darkslategray;
    color:white;
}

.nav-bar {
  background-color: var(--cool-pink);
  box-shadow: 5px 2px 2px lightgray;
  border-bottom-left-radius: 70%;
  border-bottom-right-radius: 70%;
  padding: 1rem;
}

.nav-ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.nav-ul a {
  text-decoration: none;
  color: var(--cool-cream);
  font-weight: bold;
}

.nav-ul a:hover,
.nav-ul a:active {
  /* color: var(--cool-teal); */
  text-shadow: 1px 1px var(--cool-cream);
}


.game-area-container {
    width: 100%;
}

  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  #portal .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    background: rgba(0, 0, 0, 0.7);
  }
  .modal-container .modal {
    z-index: 1;
    width: 42%;
    height: 20%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    /* position: relative; */
    animation: animate 0.3s;
    
    /* my styling */
    flex-wrap: wrap;
    overflow: scroll;
  }

  .modal-container .modal {
    position: absolute;
    right: 0;
    bottom: 0;
    /* left: 0; */
    /* ^^^test with and without */
  }
  
  .modal button {
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 8px 11px;
    background: crimson;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
  }

  .thumbnails-div {
    width: 100%;
  }
  
  .person-preview {
    display: flex;
    justify-content: center;
    background-color: white;
  }


  .person-preview:hover,
  .person-preview:active {
    background-color: var(--cool-cream);
  }

  .thumbnail {
    max-width: 10%;
  }

  .grayed {
    filter: brightness(2.25) grayscale(1);
  }

  .home-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .home-container  {
    font-size: 1.5rem;
    color: var(--cool-blue);
  }


  .home-container,
  .level-previews {
    margin-top: 1%;
  }

  .level-select {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    color: var(--cool-teal);
    font-size: 1rem;
  }

  .level-previews {
    display: flex;
    justify-content: center;
    gap: 5%;
  }

  .level-thumbnail {
    width: 13%;
    height: 22%;
  }

  .level-thumbnail > img {
    max-width: 100%;
    max-height: 10%;
  }

  .level-thumbnail > button {
    width: 100%;
    height: 1.5rem;
    min-height: max-content;
    background-color: var(--cool-cream);
    border: solid var(--cool-blue) 1px;
    color: var(--cool-teal);
    font-weight: bold;
    font-size: 60%;

  }

  .level-thumbnail > button:hover,
  .level-thumbnail > button:active {
    background-color: var(--cool-pink);
    color: var(--cool-cream);
    cursor: pointer;
    border: transparent;
  }

  .level-thumbnail > img:hover,
  .level-thumbnail > img:active {
    /* filter: opacity(0.69); */
    animation: fadein 0.9s ease-in-out alternate infinite;
    cursor: pointer;
  }

  @keyframes animate {
    from {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }

  @keyframes fadein {
    from {opacity: 1;}
    to {opacity: 0.69;}
  }


  
  @media only screen and (max-width: 480px) {

    .headr {
      padding-bottom: 7%;
    }

    .home-container,
    .level-previews {
      margin-top: 10%;
    }

    .level-thumbnail {
      width: 39%;
      height: 66%;
    }

    .level-thumbnail > img {
      /* width: 100%; */
      width: 100%;
      height: 100%;
    }


  .level-previews {
    gap: 8%;
  }

    .modal-container .modal {
      z-index: 1;
      width: 52%;
      height: 20%;
      background: white;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-radius: 5px;
      /* position: relative; */
      animation: animate 0.3s;
      
      /* my styling */
      flex-wrap: wrap;
      overflow: scroll;
    }

    .modal > h4 {
      margin-left: 5%;
      margin-top: 7%;
      color: var(--cool-blue);
    }

    .person-name-span {
      color: var(--cool-blue);
    }

    .person-name-span::first-letter {
      text-transform: capitalize;
    }


  .thumbnails-div {
    width: 100%;
  }
  
  .person-preview {
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }

  .person-preview > span {
    width: 100%;
  }


  .thumbnail {
    max-width: 36%;
  }
  }